# CODI PER LA PRÀCTICA 1
# REGRESIÓ

# APARTAT C

In [1]:
# Carreguem les llibreries bàsiques i les dades en format csv

from sklearn.datasets import make_regression
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib ipympl
from matplotlib import pyplot as plt
import scipy.stats

# Visualitzarem només 3 decimals per mostra
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Funcio per a llegir dades en format csv
def load_dataset(path):
    dataset = pd.read_csv(path, header=0, delimiter=',')
    return dataset

# Carreguem dataset
dataset = load_dataset('indicator-life_expectancy_at_birth.csv')

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Columns: 218 entries, country to 2016
dtypes: float64(217), object(1)
memory usage: 442.9+ KB

In [3]:
# Tractem les dades per tenir-les en el format que ens interesa més.
# Eliminem les files amb valors NaN i transposem la matriu de manera que queden els paisos a l'eix de les X i els anys a l'eix de les Y.
dataset = dataset.dropna().reset_index(drop=True)
dataset.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,28.210,28.200,28.190,28.180,28.170,28.160,28.150,28.140,28.130,...,52.400,52.800,53.300,53.600,54.000,54.400,54.800,54.900,53.800,52.720
1,Albania,35.400,35.400,35.400,35.400,35.400,35.400,35.400,35.400,35.400,...,76.600,76.800,77.000,77.200,77.400,77.500,77.700,77.900,78.000,78.100
2,Algeria,28.820,28.820,28.820,28.820,28.820,28.820,28.820,28.820,28.820,...,75.300,75.500,75.700,76.000,76.100,76.200,76.300,76.300,76.400,76.500
3,Angola,26.980,26.980,26.980,26.980,26.980,26.980,26.980,26.980,26.980,...,56.200,56.700,57.100,57.600,58.100,58.500,58.800,59.200,59.600,60.000
4,Antigua and Barbuda,33.540,33.540,33.540,33.540,33.540,33.540,33.540,33.540,33.540,...,75.300,75.500,75.700,75.800,75.900,76.100,76.200,76.300,76.400,76.500

In [4]:
dataset.keys()

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016'],
      dtype='object', length=218)

In [5]:
# Carreguem les dades del dataset i prenem algunes estadístiques


data = dataset.values
x = data[:, :]
y = data[:, ]

print("Dimensionalitat de la BBDD:", dataset.shape)
print("Dimensionalitat de les entrades X", x.shape)
print("Dimensionalitat de l'atribut Y", y.shape)

print("Per veure estadístiques dels atributs numèrics de la BBDD:")
dataset.describe()

Dimensionalitat de la BBDD: (201, 218)
Dimensionalitat de les entrades X (201, 218)
Dimensionalitat de l'atribut Y (201, 218)
Per veure estadístiques dels atributs numèrics de la BBDD:

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000,...,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000,201.000
mean,31.486,31.449,31.463,31.377,31.446,31.563,31.616,31.573,31.377,31.310,...,69.952,70.265,70.601,70.800,71.166,71.515,71.775,71.950,72.188,72.429
std,3.764,3.756,3.878,3.902,3.877,3.948,4.039,3.917,4.017,3.973,...,8.990,8.837,8.647,8.946,8.415,8.256,8.161,8.116,7.942,7.777
min,23.390,23.390,23.390,19.600,23.390,23.390,23.390,23.390,12.480,13.430,...,43.300,44.500,45.500,32.200,46.700,46.100,45.600,45.400,47.100,48.860
25%,29.000,28.950,28.900,28.900,28.950,29.000,29.000,29.000,28.950,28.820,...,64.400,64.700,65.000,65.200,65.300,65.900,66.200,66.600,66.800,67.100
50%,31.800,31.700,31.600,31.500,31.600,31.700,31.800,31.800,31.600,31.500,...,72.600,72.900,73.300,73.600,73.700,74.000,74.100,74.300,74.400,74.500
75%,33.900,33.900,33.900,33.800,33.870,33.900,34.000,34.000,33.870,33.800,...,76.900,77.100,77.300,77.500,77.400,78.000,78.000,78.200,78.500,78.600
max,42.850,40.300,44.370,44.840,42.830,44.270,45.820,43.560,43.550,41.740,...,82.400,82.500,82.700,82.840,83.020,83.200,83.380,83.560,83.730,83.900

In [6]:

desviaciones = np.std(data[:,1:].astype(int),axis=0)
with open("./results/desviaciones.txt",'w') as d:
    for i, des in enumerate(desviaciones):
        d.write("Atributo " + str(i+1) + " : " + str(des) + "\n")
        d.write("----------------------------\n")

In [7]:
dataset = dataset.transpose()
data = dataset.values
x = data[:, :]

In [8]:
def generateFigure(country, width, height):
    plt.figure(figsize=(width, height))
    y = dataset[country].values
    x = dataset[country].index
    countryName = y[0]
    plt.title("Esperança de vida per anys del país: " + countryName)
    plt.xlabel("Anys")
    plt.ylabel("Esperança de vida")
    plt.xticks(rotation=90)
    plt.scatter(x[101:201].values, y[101:201])
    imageName = './img/scatterEsperançaVidaPaisos/'+str(countryName)+'.png'
    plt.savefig(imageName)
    plt.close()

In [9]:
width = 15
height = 15
numPaisos = x.shape[1]
for i in range(0, numPaisos):
    generateFigure(i, width=width, height=height)

In [10]:
def generateHist(numPaisos, decada):
    plt.figure()
    dicEsperances = {}
    dicAux = {}
    for country in range(numPaisos):
        esperançaVida = dataset[country].values[decada:decada+10] 
        esperança = round(np.mean(esperançaVida))
        dicEsperances[esperança] = dicEsperances[esperança]+1 if esperança in dicEsperances.keys() else 1

    #Create plot of dicEsperances
    titleDecada = (str(1799+decada),(str(1799+decada+9)))
    plt.title("Histograma la decada del " + titleDecada[0] + "-" + titleDecada[1])
    plt.xlabel("Esperança de vida")
    plt.ylabel("Numero de paisos")
    plt.bar(dicEsperances.keys(), dicEsperances.values())
    imageName = './img/histDecades/' + titleDecada[0] +'-'+ titleDecada[1] + '.png'
    plt.savefig(imageName)
    plt.close()

In [11]:
numPaisos = x.shape[1]

for i in range(1, 2016-1800, 10):
    generateHist(numPaisos, i)

In [12]:
#Tornem a cerregar el dataste ja que les modificacions previes ens inpedeixen analitzar amb un mapa de calor
dataset = load_dataset('indicator-life_expectancy_at_birth.csv').dropna().reset_index(drop=True)
data = dataset.values
x = data
y= data[:, :]



def histogramaAtributs(i):
    plt.figure()
    plt.title("Histograma de l'atribut " + str(1799+i))
    plt.xlabel("Esperança de vida")
    plt.ylabel("Count")
    sns.histplot(data=x[:,i], kde = True, line_kws = {'linewidth': 2}, color='g', alpha = 0.3)
    plt.savefig('./img/histAtributs/' + str(1799+i) + '.png')
    plt.close()
    
for i in range(1,x.shape[1]):
    histogramaAtributs(i)

In [13]:
x = data
y = data[:, 2016-1800+1]

def scatterAtributs(i):
    if i != 2016-1800+1:
        plt.xlabel('esperança de vida')
        plt.ylabel('count')
        ax = plt.scatter(x[:,i],y)
        plt.savefig("./img/scatterAtributs/" + "Atribut-" + str(1799+i) + ".png")
        plt.close()

for i in range(1,x.shape[1]):
    scatterAtributs(i)

In [14]:
# Mirem la correlació entre els atributs d'entrada per entendre millor les dades

def mapaCalor(rang):
    
    datasetCorr = dataset.iloc[:, rang+1:rang+11] if rang != 0 else dataset.iloc[:, rang:rang+11]
    
    correlacio = datasetCorr.corr(method="pearson")
    plt.figure()
    ax = sns.heatmap(correlacio, annot=True, linewidths=.5)
    imageName = './img/calor/' + str(rang+1800) +'-' + str(rang+9+1800) + '.png'
    plt.savefig(imageName)
    plt.close()
    
for i in range(0, 2016-1800+1, 10):
    mapaCalor(i)


def mapaCalorFinal():
        datasetCorr = dataset.iloc[:,101:]
        for col in datasetCorr:
            if int(col) % 10 != 0 and col != '2016':
                del datasetCorr[col]

        correlacio = datasetCorr.corr(method="pearson")
        plt.figure()
        ax = sns.heatmap(correlacio, annot=True, linewidths=.5)
        imageName = './img/calor/' + 'final' + '.png'
        plt.savefig(imageName)
        plt.close()
    

mapaCalorFinal()

C:\Users\poles\AppData\Local\Temp\ipykernel_17376\675285238.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlacio = datasetCorr.corr(method="pearson")

In [15]:
resultats = []
for i in range(1,x.shape[1]):
    resultats.append(scipy.stats.shapiro(x[:,i]))
resultats = np.array(resultats)

with open("./results/Shapiro.txt",'w') as f:
    f.write(" - TEST DE SHAPIRO - \n")
    f.write("\n\n")
    for i, res in enumerate(resultats):
        f.write("Atribut " + str(i+1) + " Any: " + str(1800+i) + " --> Estadistic: " + str(res[0]) + "   |   P-Valor: " + str(res[1]) + "\n")
        text = "Es pot descartar la hipòtesi de que les dades es distribueixen de forma normal \n" if res[1] < 0.05 else "No es pot descartar la hipòtesi de que les dades es distribueixen de forma normal \n" 
        f.write(text)
        f.write("-----------------------------------------------------------------------------\n")

# APARTAT B

In [16]:
#Importem les llibreries necesaries i carreguem el dataset

from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

# Visualitzarem només 3 decimals per mostra
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Funcio per a llegir dades en format csv
def load_dataset(path):
    dataset = pd.read_csv(path, header=0, delimiter=',')
    return dataset

# Carreguem dataset
dataset = load_dataset('indicator-life_expectancy_at_birth.csv').dropna().reset_index(drop=True)

data = dataset.values

x = data
y = data[:, 2016-1800+1]

In [17]:
#Funcions per aplicar la refressió
def mse(v1, v2):
    return ((v1 - v2)**2).mean()

def regression(x, y):
    # Creem un objecte de regressió de sklearn
    regr = LinearRegression()

    # Entrenem el model per a predir y a partir de x
    regr.fit(x, y)

    # Retornem el model entrenat
    return regr

def standarize(x_train):
    x_train = x_train.astype(int)
    mean = x_train.mean(0)
    std = x_train.std(0)
    x_t = x_train - mean[None, :]
    x_t /= std[None, :]
    return x_t

In [18]:
from sklearn.metrics import r2_score
from os import remove

# Extraiem el primer atribut de x i canviem la mida a #exemples, #dimensions de l'atribut.
# En el vostre cas, haureu de triar un atribut com a y, i utilitzar la resta com a x.


def primeraRegresio():
    
    try:   
        remove("./results/errorsQuadratics.txt")
    except:
        pass
    
    x_train, x_test, y_train, y_test = train_test_split(x[:,1:],y,train_size=0.8,random_state = 1234,shuffle=True)
    prediccio = []
    entreno = []

    for i in range(x_train.shape[1]):
        entreno.append(regression(x_train[:,i].reshape(-1,1), y_train))
    entreno = np.array(entreno)
    for i in range(x_test.shape[1]):
        prediccio.append(entreno[i].predict(x_test[:,i].reshape(-1,1)))
    
    for i in range(x_test.shape[1]):
        ax = plt.scatter(x_test[:,i], y_test)
        plt.plot(x_test[:,i], prediccio[i], 'r')
        plt.savefig('./img/regresions/noNormalitzat/' + str(1800+i) + '.png')
        plt.close()
        
    for i, predicted in enumerate(prediccio):
        MSE = mse(predicted, y_test)
        r2 = r2_score(predicted, y_test)
        with open("./results/errorsQuadratics.txt",'a') as s:
            s.write("Atribut " + str(i+1) + " Any: " + str(1800+i) + " :\n")
            s.write("   MSE: "+ str(MSE) + "   R2 score: " + str(r2) + "\n")
        


    
primeraRegresio()

In [19]:
#Regresió normalitzada


def segonaRegresio():
    
    try:
        remove("./results/errorsQuadraticsNormalitzat.txt")
    except:
        pass
    
    #Normalitzem les dades
    data_aux = data[:,1:]
    data_stand = standarize(data_aux)
    x_norm = data_stand
    y_norm = data_stand[:, 2016-1800]

    x_train, x_test, y_train, y_test = train_test_split(x_norm[:,1:],y_norm,train_size=0.8,random_state = 1234,shuffle=True)
    
    prediccio = []
    entreno = []

    for i in range(x_train.shape[1]):
        entreno.append(regression(x_train[:,i].reshape(-1,1), y_train))
    entreno = np.array(entreno)
    for i in range(x_test.shape[1]):
        prediccio.append(entreno[i].predict(x_test[:,i].reshape(-1,1)))
    
    for i in range(x_test.shape[1]):
        ax = plt.scatter(x_test[:,i], y_test)
        plt.plot(x_test[:,i], prediccio[i], 'r')
        plt.savefig('./img/regresions/normalitzat/' + str(1800+i) + '.png')
        plt.close()
        
    for i, predicted in enumerate(prediccio):
        MSE = mse(predicted, y_test)
        r2 = r2_score(predicted, y_test)
        with open("./results/errorsQuadraticsNormalitzat.txt",'a') as s:
            s.write("Atribut " + str(i+1) + " Any: " + str(1800+i) + " :\n")
            s.write("   MSE: "+ str(MSE) + "   R2 score: " + str(r2) + "\n")
    

segonaRegresio()